@model SpeachBingCore.Models.BingApi
@{
    ViewBag.Title = "Home Page";
}
<center>
    <button onclick="myFunctionRest()">Send Request</button>
</center>


<div>
    <center>
        <h4>Speach Recognizer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayFor(model => model._logText)
            </dd>
        </dl>
    </center>
</div>

<div>
    <center>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <!-- form goes here -->

            <input type="submit" value="Voice To Text"/>
        }
    </center>
</div>
<div>
    <center>
        <td>
            <p>@ViewBag.logs</p>
        </td>
    </center>
</div>

<!DOCTYPE html>
<html>
<center>
    <img id="imageid" src="@Url.Content("~/Content/Image/record.png")" runat="server" alt="image"/>
    <!-- <img id="imageid" src="@Url.Content("~/Content/Image/record.png")" runat="server" alt="image" onmousedown="myFunctionStart()" onmouseup="myFunctionStop()" />
    -->
  
</center>
<center>
    <button onclick="myFunctionStart()">start</button>
<button onclick="myFunctionStop()">stop</button>
</center>
    <body>
    <script>
        var recorder;
        function myFunctionRest() {
            $.ajax({
                type: 'POST',
                url: window.location.href + '/Home/Dupex',
                processData: false,
                contentType: false,
                error: function (response) {
                    alert("blad");
                }
            });
        }
        function myFunctionStop() {

            document.getElementById("imageid").src = "@Url.Content("~/Content/Image/record.png")";
            recorder.stop();
        }

        function myFunctionStart() {
            document.getElementById("imageid").src = "@Url.Content("~/Content/Image/record1.png")";
            navigator.mediaDevices.getUserMedia({ audio: true, video: false }).then(stream => {
                const chunks = [];
                var options = {
                    audioBitsPerSecond: 128000,
                    mimeType: 'audio/wav'
                };
                recorder = new MediaRecorder(stream);
                recorder.mimeType = "audio/wav";
                recorder.ondataavailable = e => {
                    chunks.push(e.data);
                    if (recorder.state == 'inactive') {

                        const blob = new Blob(chunks, { type: 'audio/wav' });

                        ///dopisz href
                        var formData = new FormData();
                        formData.append("postedFile", blob);
                        $.ajax({
                            type: 'POST',
                            url: window.location.href + '/Home/Action',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (response) {
                                alert("Voice was recorded");
                            },
                            error: function (response) {
                                alert("blad");
                            }
                        });
                    }
                };

                recorder.start(1000);
                setTimeout(() => {
                        recorder.stop();
                    },
                    15000);
            }).catch(console.error);
        }
    </script>
    
    <div>
        <center>
            <td>
                <p>@ViewBag.Answer</p>
            </td>
        </center>
    </div>
    </body>
</html>
